:root {
    font-size: 16px;
    font-family: "Playfair Display", serif;
}

.container {
	display: flex;
	flex-wrap: wrap;
	font-size: 1rem;
    width:95vw;
}

.header {
	align-items: flex-end;
	background-image: url('./images/development.jpg');
	background-size: cover;
	border: 1px solid #66ccff;
    border-radius: 10px;
    box-shadow: 0px 3px 20px 2px #99ccff;
    display: flex;
    flex-direction: column;
    height:auto;
    width:100vw;
}

.sub-header {
	font-size: 5.6rem;
	font-variant: small-caps;	
}

.sub-heading {
	font-size: 2.8rem;
	font-weight: bold;
	padding-right: 5px;
}

.about-me {
	border-radius: 10px;
	box-shadow: 0 3px 20px 0 #ff9966;
	display: flex;
	height: auto;
	margin: 3vh 1vw 1vw 0;
	width:47vw;
}

.description {
	padding:10px;
	width: 45vw;
}

.my-image {
    padding: 10px 0 0 10px;
    width:12vw;
}

.technology {
	border-radius: 10px;
	box-shadow: 0 3px 20px 0 #ff9966;
	display: flex;
	flex-wrap: wrap;
	height: auto;
	margin: 3vh 0 1vw 0;
	width:47vw;
}

h2 {
	padding-left: 114px;
}

.tech-descb {
	padding-left: 15px;
    width: 15vw;
}

.tech-img {
	width: 30vw;
}

.experience {
	border-radius: 10px;
	box-shadow: 0 3px 20px 0 #ff9966;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: 1vh 1vw 1vw 0;
    width:47vw;
}

.prof-descp {
	padding:10px;
	width: 25vw;
}

.cybage-img {
	padding: 10px 0 0 10px;
    width:12vw;
}

.projects{
	border-radius: 10px;
	box-shadow: 0 3px 20px 0 #ff9966;
	display: flex;
	flex-wrap: wrap;
	height: auto;
	margin: 1vh 0 1vw 0;
	width:47vw;
}

.proj-descp{
	padding-left: 15px;
    width: 32vw;
}

.project-img {
	width: 13vw;
}

.icon-group {
	display: flex;
    margin-top: 2vh;
}

.icon-group .icon {
    margin-right: 10px;
    height:3vh;
    width: 1vw;
}

@media only screen and (max-width: 403px) and (min-width: 320px) {
	.container {
		flex-direction: column;
	}

	.header {
    	width: 95vw;
	}

	.sub-header {
		font-size: 1.6rem;
	}

	.sub-heading {
		font-size: 0.8rem;
	}

	.about-me, .technology, .experience, .projects {
		width: 95vw;
	}

	.my-image {
		width: 40vw;
	}

	.tech-descb {
    	width: 41vw;
	}

	h2 {
		padding-left: 50px;
	}

	.tech-img {
		width: 49vw;
    	height: 33vh;
	}

	.prof-descp {
    	width: 55vw;
	}

	.cybage-img {
    	width: 28vw;
	}

	.proj-descp {
    	width: 62vw;
	}

	.project-img {
    	width: 27vw;
	}

	.icon-group .icon {
   		width: 4vw;
   }
}

@media only screen and (max-width: 480px) and (min-width: 404px) {
	.container {
		flex-direction: column;
	}

	.header {
		height: 40vh;
    	width: 95vw;
	}

	.sub-header {
		font-size: 1.6rem;
	}

	.sub-heading {
		font-size: 0.8rem;
	}

	.about-me, .technology, .experience {
		width: 95vw;
	}

	.description {
		width: 62vw;
	}

	.my-image {
		width: 26vw;
	}

	h2 {
    	padding-left: 65px;
	}

	.tech-descb {
    	width: 45vw;
	}

	.tech-img {
    	width: 46vw;
    	height: 24vh;
	}

	.prof-descp {
		width: 55vw;
	}

	.cybage-img {
 		padding: 20px 0 0 10px;
    	width: 32vw;
	}

	.projects {
    	width: 95vw;
	}

	.proj-descp {
    	width: 60vw;
	}

	.project-img {
    	width: 30vw;
	}

   .icon-group .icon {
   		width: 4vw;
   }

}

@media only screen and (max-width: 655px) and (min-width: 481px) {

	.header {
		height: 40vh;
    	width: 95vw;
	}

	.sub-header {
		font-size: 1.6rem;
	}

	.sub-heading {
		font-size: 0.8rem;
	}

	.about-me, .technology, .experience {
		width: 95vw;
	}

	.description {
		width: 65vw;
	}

	.my-image {
		width: 25vw;
	}

	h2 {
    	padding-left: 65px;
	}

	.tech-descb {
    	width: 49vw;
	}

	.tech-img {
    	width: 42vw;
    	height: 25vh;
	}

	.prof-descp {
		width: 50vw;
	}

	.cybage-img {
    	width: 35vw;
	}

	.projects {
    	width: 95vw;
	}

	.proj-descp {
    	width: 69vw;
	}

	.project-img {
    	width: 22vw;
	}

   .icon-group .icon {
   		width: 2vw;
   }
}

@media only screen and (max-width: 780px) and  (min-width: 656px) {
	
	.header {
    	width: 95vw;
	}
	.sub-header {
		font-size: 1.6rem;
	}

	.sub-heading {
		font-size: 0.8rem;
	}

	.about-me, .technology, .experience {
		width: 95vw;
	}

	.description {
		width: 65vw;
	}

	.my-image {
		width: 25vw;
	}

	h2 {
    	padding-left: 65px;
	}

	.tech-descb {
    	width: 49vw;
	}

	.tech-img {
    	width: 42vw;
    	height: 25vh;
	}

	.prof-descp {
		width: 50vw;
	}

	.cybage-img {
    	width: 35vw;
	}

	.projects {
    	width: 95vw;
	}

	.project h2 {
		height: 1vh;
		margin-bottom: 0;
	}

	.proj-descp {
    	width: 74vw;
	}

	.project-img {
   		width: 17vw;
	}

   .icon-group .icon {
   		width: 2vw;
   }
}


@media only screen and (max-width: 1095px) and (min-width: 781px) {

	.header {
    	width: 95vw;
	}

	.sub-header {
		font-size: 3.2rem;
	}

	.sub-heading {
		font-size: 1.2rem;
	}

	.about-me, .technology, .experience, .projects {
		width: 47vw;
	}

	.tech-img {
    	height: 31vh;
    	width: 21vw;
	}

	.proj-descp {
    	width: 34vw;
	}

	.project-img {
   		width: 11vw;
	}

	.icon-group .icon {
   		width: 2vw;
   }
}